<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cars rent service</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="@ViewData["Stylesheet"]"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="image-car-icon" src="~/images/rentcaricon.jpg"/>
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark custom-size-text" asp-area="" asp-controller="Home" asp-action="Index">About us</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark custom-size-text" asp-area="" asp-controller="Car" asp-action="List">Cars</a>
                        </li>
                        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark custom-size-text" asp-area="" asp-controller="Car" asp-action="Create">Create</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark custom-size-text" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="overlay-pic background-color-custom">
        <div class="container"> <!-- div class="container"> -->
            <main role="main"> <!-- class="container" -->
                @RenderBody()
            </main>
        </div>
    </div>
    <hr class="hr-line"/>
    <footer class="border-top footer text-muted background-color-custom">
        <div class="container">
            &copy; 2023 - Cars rent service, Vladyslav Vasylchenko. - <a asp-area="" asp-controller="Home" asp-action="Index">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
