@model RentCarsApp.Models.ViewModels.CarCreateViewModel

<h2>Редактирование авто</h2>
<form enctype="multipart/form-data" asp-action="edit" asp-controller="car" asp-route-id="@Model.Id">
    <p>
        <label asp-for="NameProducer">NameProducer</label><br />
        <input type="text" asp-for="NameProducer" />
    </p>
    <p>
        <label asp-for="NameModel">NameModel</label><br />
        <input type="text" asp-for="NameModel" />
    </p>
    <p>
        <label asp-for="ProductionYear">Production year</label><br />
        <input type="number" asp-for="ProductionYear" />
    </p>
    <p>
        <label asp-for="Description">Description</label><br />
        <input type="text" asp-for="Description" />
    </p>
    <p>
        <label asp-for="Price">Price</label><br />
        <input type="number" asp-for="Price" />
    </p>
    <p>
        <label asp-for="Transmission">Type of transmission</label><br />
        <select asp-for="Transmission" asp-items="Html.GetEnumSelectList<TransmissionType>()"></select>
    </p>
    <p>
        <label asp-for="Fuel">Type of fuel</label><br />
        <select asp-for="Fuel" asp-items="Html.GetEnumSelectList<FuelType>()"></select>
    </p>
    <p>
        <label asp-for="Image">Image</label><br />
        <input type="file"  asp-for="Image" accept="image/png, image/jpeg"/>
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
</form>