@{
    ViewData["Title"] = "Home Page";
	ViewData["Stylesheet"] = "/css/Index.css";
}

	<section class="overlay-pic">
		<div class="text-center">
			<h1 class="title">Find your ideal car simply and quickly. Our car rental service offers a wide selection of reliable and high-quality cars at affordable prices. Book online in a few steps, get comfort and freedom of movement. Enjoy the hassle-free rental of cars that suit your needs. Entrust us with your transport, we take care of your comfort. Experienced staff is ready to help you 24/7. Make sure your journey starts with us!</h1><br>
			<a asp-controller="Car" asp-action="List">
				<button class="btn-see-car">
					Click to see cars!
				</button>	
			</a>	
		</div>
	</section>