@{
    ViewData["Title"] = "Home Page";
	ViewData["Stylesheet"] = "/css/Index.css";
}

	<section class="overlay-pic">
		<div class="text-center">
			<h1 class="title">The best car rental service!</h1><br>
				<a asp-area="" asp-controller="Car" asp-action="List">
					<h1 class="title green-title">Do not believe? Check out our ponies!</h1>
				</a>
		</div>
	</section>