h1 {
    padding-top: 90px;
    font-size: 72px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(10,10,10,.4);
}

.content {
    display: flex;
    flex-wrap: wrap;
}

section {
    text-align: center;
    color: black;
}

.card {
    background-color: #B8CBDE;
    width: 330px;
    height: 840px;
    margin-bottom: 60px;
    margin: 15px;
    -webkit-transition: 0.3s ease;
    border-radius: 10px;
}

.card-image {
    width: 300px;
    margin-bottom: 30px;
    height: 298px;
    border-radius: 10px;
    margin: 15px 15px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.mg-l {
    margin-left: 15px;
}
.card-title1 {
    text-align: left;
    font-size: 10px;
    font-weight: 300;
    font-style: Montserrat;
}
.card-title2 {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}
.card-price {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.card-fueltype {
    font-style: Montserrat;
    font-size: 18px;
}
.card-fueltype-div {
    margin-bottom: 20px;
}
.card-text {
    font-size: 16px;
    text-align: left;
}
.card-desk {
    width: 300px;
    height: 170px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.grow:hover {
    box-shadow: 7px 7px #808080;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}
.btn-rent {
    width: 190px;
    height: 40px;
    font-size: 24px;
    font-style: Montserrat;
    font-weight: 600;
    border-radius: 15px;
    background-color: #E6B563;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-weight: 600;
    margin-bottom; 50px;
}
.btn-rent:hover {
    background-color: black;
    color: #E6B563;
}
.btn-rent span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.btn-rent span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
.btn-rent:hover span {
    padding-right: 25px;
}

.btn-rent:hover span:after {
    opacity: 1;
    right: 0;
}
