h1 {
    padding-top: 90px;
    font-size: 72px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(10,10,10,.4);
}

.content {
    display: flex;
    flex-wrap: wrap;

}

section {
    text-align: center;
    color: black;
}

.card {
    background-color: #B8CBDE;
    width: 300px;
    height: 540px;
    margin-bottom: 60px;
    padding: 5px 5px 20px;
    margin: 30px;
    -webkit-transition: 0.3s ease;
    border-radius: 20px;
}

.card-image {
    width: 230px;
    margin-bottom: 30px;
    height: 140px;
    border-radius: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.grow:hover {
    box-shadow: 7px 7px #808080;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);
}
.btn-rent {
    width: 150px;
    height: 34px;
    font-size: 18px;
    border-radius: 15px;
    background-color: #E6B563;
    border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-weight: 600;
}
.btn-rent:hover {
    background-color: black;
    color: #E6B563;
}
.btn-rent span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
.btn-rent span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
.btn-rent:hover span {
    padding-right: 25px;
}

.btn-rent:hover span:after {
    opacity: 1;
    right: 0;
}
